<!-- Blog Post -->

<!-- Title -->
<h1><%= @post.title %></h1>

<!-- Author -->
<p class="lead">
  by <a href="#"><%= @post.created_by %></a>
</p>

<!-- Date/Time -->
<p><span class="fa fa-clock-o" aria-hidden="true"></span> <%= time_ago_in_words(@post.created_at) %></p>

<!-- Tagged -->
<% if @tags.any? %>
  <p>Tagged in:
    <% @tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag.name) %>
    <% end %>
  </p>
<% end %>

<hr>


<!-- Post Content -->
<p>
  <%= @markdown.render(@post.body).html_safe %>
</p>

<hr>

<% if signed_in? %>
  <% if @post.user_id == current_user.id %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
    <hr>
  <% end %>
<% end %>

<h2> Comments </h2>
<%= render @post.comments %>

<hr>

<%= render 'comments/form' %>
