<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <!--- Flash Notice -->
    <% unless flash.empty? %>
    <div class="container">
      <%= flash.each do |key, value| %>
      <%= value %>
      <%end %>
      <% end %>
    </div>

    <!--- yield to controller --->
    <div class="Container">
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>

        <%= render 'layouts/sidebar' %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
